body {
	background-color: aliceblue;
}

article {
	display: inline-block;

}

.thumbnail {
	height: 250px;
	margin: 10px;
}

.register{
	display: block;
	padding: 10px;
	margin: 5px ;
}

.reg {
	display: block;
	font-size: 1em;
}

.searchform {
	margin-top: 30px;
}

.forms{
	display: inline-block;
	margin-right: 100px;
}

